<app-header></app-header>
<div class="main-block">
  <h1>Đăng ký</h1>
  <form action="/">
    <label id="icon" for="name"><i class="fa-solid fa-phone"></i></label>
    <input type="text" name="name" id="name" placeholder="Số điện thoại" required [(ngModel)]="phoneNumber" />
    <label id="icon" for="name"><i class="fas fa-user"></i></label>
    <input type="text" name="name" id="name" placeholder="Họ và Tên" required [(ngModel)]="fullName" />
    <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
    <input type="password" name="name" id="name" placeholder="Mật khẩu" required [(ngModel)]="password" />
    <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
    <input type="password" name="name" id="name" placeholder="Nhập lại mật khẩu" required [(ngModel)]="retypePassword" />
    <label id="icon" for="name"><i class="fa-solid fa-location-dot"></i></label>
    <input type="text" name="name" id="name" placeholder="Địa chỉ" required [(ngModel)]="address" />
    <label id="icon" for="dateOfBirth"><i class="fa-solid fa-cake-candles"></i></label>
    <input type="date" name="dateOfBirth" id="dateOfBirth" required [(ngModel)]="birthday" z/>
    <hr>
    <div class="form-group">
      <h5>Bạn muốn đăng ký là</h5>
      <select name="selectedRole" [(ngModel)]="selectedRole">
        <option *ngFor="let role of roles" [ngValue]="role">
          {{ role.name }}
        </option>
      </select>
    </div>
    <hr>
    <div class="btn-block">
      <p>By clicking Register, you agree on our <a href="">Privacy Policy for W3Docs</a>.</p>
      <button type="submit" (click)="register()">Đăng ký</button>
    </div>
  </form>
</div>