/* Tiêu đề chính của form */
h1 {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

/* Style cho các đoạn văn bản */
p {
  font-size: 12px;
}

/* Đường kẻ ngang phân cách */
hr {
  color: #a9a9a9;
  opacity: 0.3;
}

/* Style cho thông báo lỗi */
.error-message {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  p { margin: 0; }
}

/* Container chính của form đăng ký */
.main-block {
  max-width: 400px;
  min-height: 460px;
  padding: 10px 0;
  margin: auto;
  border-radius: 5px;
  border: solid 1px #ccc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
  background: #ebebeb;
}

/* Container của form */
form {
  margin: 0 30px;
}

/* Style chung cho các input */
input[type="text"],
input[type="password"],
input[type="date"] {
  width: calc(100% - 57px);
  height: 40px;
  margin: 13px 0 0 -5px;
  padding-left: 10px;
  border-radius: 0 5px 5px 0;
  border: solid 1px #cbc9c9;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  background: #fff;
  color: #a9a9a9;
  
  /* Style khi focus vào input */
  &:focus {
    color: #333;
    outline: none;
  }
}

/* Style cho icon bên trái input */
#icon {
  display: inline-block;
  padding: 12px 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
  background: #1c87c9;
  color: #fff;
  text-align: center;
}

/* Container cho phần nút bấm */
.btn-block {
  margin-top: 10px;
  text-align: center;
}

/* Style cho nút đăng ký */
button {
  width: 100%;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  background: #1c87c9;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  
  /* Hiệu ứng hover */
  &:hover {
    background: #26a9e0;
  }
  
  /* Style khi nút bị disable */
  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}

/* Style cho nhóm select box */
.form-group {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* Style cho tiêu đề của select box */
  h5 {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 0.75rem;
    font-weight: 600;
  }

  /* Style cho select box */
  select {
    width: 35%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #555;
    
    /* Style khi focus vào select box */
    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
}
