<app-header></app-header>
<h1>Đăng ký tài khoản</h1>
<form class="register-form">
    <div class="form-group">
        <h4>Số điện thoại:</h4>
        <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" required>
    </div>
    <div class="form-group">
        <h4>Tên người dùng:</h4>
        <input type="text" name="fullName" [(ngModel)]="fullName" required>
    </div>
    <div class="form-group">
        <h4>Mật khẩu:</h4>
        <input type="password" name="password" [(ngModel)]="password" required>
    </div>
    <div class="form-group">
        <h4>Xác nhận mật khẩu:</h4>
        <input type="password" name="retypePassword" [(ngModel)]="retypePassword" required>
    </div>
    <div class="form-group">
        <h4>Địa chỉ:</h4>
        <input type="text" name="address" [(ngModel)]="address" required>
    </div>
    <div class="form-group">
        <h4>Ngày tháng năm sinh</h4>
        <input type="date" name="birthday" [(ngModel)]="birthday">
    </div>
    <div class="form-group">
        <h4>Bạn muốn đăng ký là</h4>
        <select name="selectedRole" [(ngModel)]="selectedRole">
            <option *ngFor="let role of roles" [ngValue]="role">
                {{ role.name }}
            </option>
        </select>
    </div>
    <button type="submit" class="btn-submit" (click)="register()">Đăng ký</button>
    <p class="login-link">Bạn đã có tài khoản? <a routerLink="/login" >Đăng nhập ngay</a></p>
</form>