<header class="header">
    <div class="container">
        <div class="logo">
            <a href="#">ShopHub</a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a (click)="getCart()">Giỏ hàng</a></li>
                <li><a (click)="getOrder()">Đơn hàng</a></li>
            </ul>
        </nav>
            <ng-container *ngIf="user; else guestTemplate">
                <div class="user-menu" (click)="toggleMenu()">
                    <span class="user-name">Xin chào, {{ user.full_name }}</span>
                    <div class="dropdown-menu" *ngIf="isMenuOpen">
                        <a class="dropdown-item">Hồ sơ cá nhân</a>
                        <a class="dropdown-item">Cài đặt</a>
                        <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
                    </div>
                </div>
            </ng-container>

            <ng-template #guestTemplate>
                <a class="btn btn-primary" routerLink="/login">Đăng nhập</a>
            </ng-template>
    </div>
</header>