<app-header></app-header>

<main class="main-content">
    <section class="hero-section">
        <div class="container">
            <h1>Khám phá thế giới mua sắm của bạn</h1>
            <p>Hàng ngàn sản phẩm chất lượng, giá cả phải chăng, giao hàng nhanh chóng.</p>
            <a href="#" class="btn btn-primary btn-large">Mua ngay</a>
        </div>
    </section>

    <div class="collections">
        <h2></h2>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptas ut dolorum consequuntur, adipisci
            repellat!
        </p>
        <div class="carousel">
            <button class="nav left" (click)="prevSlide()">&#8592;</button>
            <div class="slides">
                <div class="slide" *ngFor="let item of featuredProductRespons">
                    <img [src]="item.image_url" alt="Product Image">
                    <h4>{{item.product_name}}</h4>
                    <p>{{item.description}}</p>
                </div>
            </div>
            <button class="nav right" (click)="nextSlide()">&#8594;</button>
        </div>
    </div>


    <section class="products-section">
        <div class="container">
            <h2>Sản phẩm mới nhất</h2>
            <div class="container">
                <div class="row product-row">
                    <div class="col-lg-4 col-md-5 col-sm-6" *ngFor="let product of productRespons">
                        <div class="product-card">
                            <img [src]="product.image_url" alt="Product Image" class="product-image">
                            <h3 class="product-name">{{product.product_name}}</h3>
                            <p class="product-specialty"> {{product.price}}</p>
                            <button class="btn btn-primary"
                                [routerLink]="['/doctor-detail', product.product_id]">Xem Chi tiết</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    <div class="container">
        <p>&copy; 2025 ShopHub. All rights reserved.</p>
    </div>
</footer>