.text-2xl {
    font-size: 30px;
    padding-left: 20px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.h-16 {
    height: 4rem;
}

.flex {
    display: flex;
}

*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.relative {
    position: relative
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.p-6 {
    padding: 1.5rem;
}
.overflow-y-auto {
    overflow-y: auto;
}
.flex-1 {
    flex: 1 1 0%;
}