<app-seller-header-compenent></app-seller-header-compenent>
<div class="app-layout-container flex h-screen">
    <div class="sidebar-wrapper">
        <app-seller-select-service></app-seller-select-service>
    </div>

    <div class="form-section">
        <h2 class="section-title">Thêm sản phẩm</h2>
        <input type="file" (change)="onFileProduct($event)" />
        <button type="submit" class="btn btn-primary" (click)="uploadFileProducts()">Nhập danh sách</button>
        <hr class="divider">
        <div class="form-group">
            <h4>Tên sản phẩm:</h4>
            <input type="text" name="productName" [(ngModel)]="productName" required>
        </div>
        <div class="form-group">
            <h4>Mô tả:</h4>
            <input type="text" name="description" [(ngModel)]="description" required>
        </div>
        <div class="form-group">
            <h4>Giá:</h4>
            <input type="number" name="price" [(ngModel)]="price" required>
        </div>
        <div class="form-group">
            <h4>Tổng số sản phẩm trong kho:</h4>
            <input type="number" name="stockQuantity" [(ngModel)]="stockQuantity" required>
        </div>
        <div class="form-group">
            <h4>Ảnh đại diện:</h4>
            <input type="file" (change)="onFileSelected($event)" />
        </div>
        <div class="form-group">
            <h4>Loại sản phẩm:</h4>
            <select class="form-control doctor-specialty" [(ngModel)]="selectedCategoryId">
                <option *ngFor="let category of categories" [value]="category.categoryId">
                    {{ category.categoryName }}
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" (click)="createProduct()">Lưu</button>
    </div>
</div>