<app-header></app-header>
<div class="container">
    <h1>Danh sách đơn hàng</h1>
    <table class="order-table" >
        <thead>
            <tr>
                <th>Ngày đặt hàng</th>
                <th>Tổng tiền</th>
                <th>Địa chỉ giao hàng</th>
                <th>Trạng thái đơn hàng</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody *ngFor="let order of orders">
            <tr [routerLink]="['/user/get-order-detail', order.order_id]">
                <td>{{order.order_date | date:'dd/MM/yyyy' }}</td>
                <td>{{order.total_amount | currency:'VND':'symbol':'1.0-0' }}</td>
                <td>{{order.shipping_address}}</td>
                <td>
                    <span [ngClass]="getStatusClass(order.order_status)">
                        {{getStatusLabel(order.order_status)}}
                    </span>
                </td>
                <td>{{order.notes}}</td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <button (click)="changePage(page - 1)" [disabled]="page === 0">Trước</button>
        <button *ngFor="let p of pages" (click)="changePage(p)" [class.active]="p === page">{{ p + 1 }}</button>
        <button (click)="changePage(page + 1)" [disabled]="page === totalPages - 1">Tiếp</button>
    </div>
</div>