header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  .logo a {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
  }

header input {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 200px;
}

header .relative {
  position: relative;
}

header .absolute {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

header .bg-red-500 {
  background-color: #ef4444;
}

header .bg-purple-500 {
  background-color: #a855f7;
}

header span {
  color: #001aff;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

header .flex {
  display: flex;
  align-items: center;
}

header .space-x-4 > * {
  margin-left: 1rem;
}

header .mr-2 {
  margin-right: 0.5rem;
}

header .ml-2 {
  margin-left: 0.5rem;
}